#настройки окружения
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=todo_database

#строка подключения
DATABASE_URL=postgresql+psycopg://postgres:your_password_here@db:5432/todo_database