# Байт-код и кэш Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
.venv/
env/

# Настройки редакторов
.vscode/
.idea/

# Файлы с паролями и переменными окружения
.env

# Логи и базы данных
*.log
*.sqlite3